* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #383838;
  font-size: 17px;
}
.app {
  background: #f5f5f5;
  min-height: 100vh;
  padding-top: 60px;
}
.app-container {
  width: 840px;
  margin: 0 auto;
  background: #fff;
  padding: 24px;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.1);
  min-height: 778px;
}

a {
  text-decoration: none;
  color: #383838;
  transition: all 0.3s;
}
a:hover {
  color: #f7931a;
}
h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 20px;
}
ul {
  margin-left: 20px;
  margin-bottom: 20px;
}
.twitter-link:hover {
  color: #1da1f2;
}
.mb-60 {
  margin-bottom: 60px;
}
.wizard-image {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

.header-label {
  margin-left: 24px;
}
.header-right a:first-child {
  margin-right: 24px;
}
.header-right a:last-child {
  margin-left: 20px;
}
.header-right svg {
  transform: translateY(4px);
  font-size: 20px;
}

.site-logo {
  width: 84px;
  height: 84px;
}

h4 {
  display: inline-block;
  margin-right: 4px;
}
.container {
  width: 50%;
  background: rgba(0, 0, 0, 0.1);
  border: 4px solid black;
  margin: 30px auto;
  position: relative;
}

.two-wide {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}
.two-wide .stat {
  width: 50%;
}
.stat {
  height: 24px;
}

section:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 18px;
}
section h2 {
  margin-top: 18px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
section h2 svg {
  margin-left: 8px;
}
.section-1 {
  max-height: 72px;
}
.section-2 {
  max-height: 94px;
}
.section-3 {
  max-height: 72px;
}

@media (max-width: 840px) {
  .two-wide .stat {
    width: 100%;
  }
  .section-1,
  .section-2,
  .section-3 {
    min-height: 120px;
    max-height: 240px;
  }
}
.double-section {
  display: flex;
  width: 100%;
}
.double-section-left,
.double-section-right {
  width: 50%;
}
.section-4 {
  height: 70px;
}
.section-5 {
  height: 70px;
}
.data {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  height: 270px;
}
.bar {
  width: 10%;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  border-bottom: none;
  margin: 0 2px;
}
.tick-mark {
  height: 4px;
  width: 12px;
  background: black;
}
.x-axis {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  height: 50px;
}
.y-axis {
  position: absolute;
  left: -70px;
  top: 0;
  width: 50px;
  height: 270px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  text-align: right;
}

.hover-stat {
  position: relative;
}
.hover-chart {
  display: none;
  position: absolute;
  width: 600px;
  height: 400px;
  border: 1px solid green;
  z-index: 25;
  background: #fff;
  text-align: center;
}
.hover-stat:hover .hover-chart {
  display: inline-block;
}

@media (max-width: 840px) {
  .app-container {
    width: 92%;
    margin: 0 4%;
    margin-bottom: 120px;
  }
  .app {
    padding-top: 20px;
  }
  header {
    flex-direction: column;
  }

  .header-right {
    margin-top: 20px;
  }
  .double-section {
    flex-direction: column;
  }
  .section-4,
  .section-5 {
    min-height: 90px;
    max-height: 240px;
  }
  .double-section-left,
  .double-section-right {
    width: 100%;
  }
  .double-section-left {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
