* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #383838;
  font-size: 17px;
}
.app {
  background: #f5f5f5;
  min-height: 100vh;
  padding: 60px 0;
}
.app-container {
  width: 840px;
  margin: 0 auto;
  background: #fff;
  padding: 24px;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.1);
  min-height: 778px;
}

a {
  text-decoration: none;
  color: #383838;
  transition: all 0.3s;
}
a:hover {
  color: #f7931a;
}
h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 20px;
}
ul {
  margin-left: 20px;
  margin-bottom: 20px;
}
.italic {
  font-style: italic;
  font-size: 12px;
}
.twitter-link {
  display: flex;
  align-items: center;
}
.twitter-link svg {
  margin-left: 8px;
}
.twitter-link:hover {
  color: #1da1f2;
}
.mb-60 {
  margin-bottom: 60px;
}
.wizard-image {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

.header-label {
  margin-left: 24px;
}
.header-right a:first-child,
.header-right a:nth-child(2) {
  margin-right: 24px;
}

.header-right a:last-child {
  margin-left: 20px;
}
.header-right svg {
  transform: translateY(4px);
  font-size: 20px;
}

.site-logo {
  width: 84px;
  height: 84px;
}

h4 {
  display: inline-block;
  margin-right: 4px;
}
.container {
  width: 50%;
  background: rgba(0, 0, 0, 0.1);
  border: 4px solid black;
  margin: 30px auto;
  position: relative;
}

.two-wide {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}
.two-wide .stat {
  width: 50%;
}
.stat {
  height: 24px;
}

section:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 18px;
}
section h2 {
  margin-top: 18px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
section h2 svg {
  margin-left: 8px;
}
.section-1 {
  max-height: 72px;
}
.section-2 {
  max-height: 94px;
}
.section-3 {
  max-height: 72px;
}

@media (max-width: 840px) {
  .two-wide .stat {
    width: 100%;
  }
  .section-1,
  .section-2,
  .section-3 {
    min-height: 120px;
    max-height: 240px;
  }
}
.double-section {
  display: flex;
  width: 100%;
}
.double-section-left,
.double-section-right {
  width: 50%;
}
.section-4 {
  height: 70px;
}
.section-5 {
  height: 70px;
}

@media (max-width: 840px) {
  .app-container {
    width: 92%;
    margin: 0 4%;
    margin-bottom: 120px;
  }
  .app {
    padding-top: 20px;
  }
  header {
    flex-direction: column;
  }

  .header-right {
    margin-top: 20px;
  }
  .double-section {
    flex-direction: column;
  }
  .section-4,
  .section-5 {
    min-height: 90px;
    max-height: 240px;
  }
  .double-section-left,
  .double-section-right {
    width: 100%;
  }
  .double-section-left {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.charts h1 {
  margin: 20px 0;
}
.charts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.charts-controls {
  margin-right: 20px;
}
.charts-control {
  background: #fff;
  padding: 8px 14px;
  color: #383838;
  border: 1px solid #383838;
  cursor: pointer;
  margin-left: 12px;
  font-size: 16px;
}
.charts-control:hover {
  color: #f7931a;
  border: 1px solid #f7931a;
}
.charts-control:active,
.charts-control:focus {
  outline: 0;
}
.charts-control-selected {
  color: #f7931a;
  border: 1px solid #f7931a;
}

.charts-control-mobile {
  background: #fff;
  padding: 4px 10px;
  color: #383838;
  border: 1px solid #383838;
  cursor: pointer;
  margin-left: 8px;
  font-size: 12px;
}
.charts-control-mobile-selected {
  color: #f7931a;
  border: 1px solid #f7931a;
}

.mobile-charts {
  display: none;
}
.mobile-charts h1 {
  font-size: 22px;
}
.mobile-charts h2 {
  font-size: 16px;
}
@media (max-width: 840px) {
  .charts {
    display: none;
  }
  .mobile-charts {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
  }
}

.loader,
.loader:before,
.loader:after {
  background: #000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #000;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
